nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.search-button {
  padding: 20px 150px; 
  background-color: #fcf7f6;
  color: rgb(14, 7, 7);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.login-button {
  padding: 10px 20px; 
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}